.grid {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
  
    &--center {
      justify-content: center;
      align-items: center;
    }
  
    &--space-between {
      justify-content: space-between;
    }
  
    &--columns {
      @include responsive(992px) {
        flex-direction: column;
      }
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gap;
    margin-right: -$gap;
  }
  
  .col {
    padding-left: $gap;
    padding-right: $gap;
  
    &-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    &-4 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
  
    &-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    @include responsive(768px) {
      &-6, &-4, &-12 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  
  