.footer {
    background-color: $color-primary;
    color: $color-white;
    padding-top: 45px;
    padding-bottom: 45px;
  
    &__name {
      font-size: 1.3125rem;
      font-weight: 500;
      margin-bottom: 6px;
    }
  
    &__copyright {
      font-size: 0.8125rem;
    }
}