.navbar {
    margin-bottom: 136px;
  
    &__list {
      display: flex;
      gap: $gap-lg;
  
      &__link {
        display: block;
        color: $color-black;
        padding: 0.5em 3px 0.5em 0;
        letter-spacing: $letter-spacing;
  
        &--active {
          color: $color-primary;
          font-weight: 500;
        }
      }
    }
  }
  