html {
    font-size: $font-size;
    font-family: $font-family;
    font-weight: 400;
    line-height: $line-height;
  }
  
  body {
    background-color: $color-white;
  }
  
  a {
    text-decoration: none;
  }
  