$color-black: #000000;
$color-primary: #34547a;
$color-secondary: #717171;
$color-gray-light: #eeeff1;
$color-white: #ffffff;

$font-size: 16px;
$font-family: "Roboto", sans-serif;
$letter-spacing: 0.1em;
$line-height: 1.64;

$container-primary: 1110px;
$container-secondary: 540px;

$gap: 20px;
$gap-sm: $gap * 0.5;
$gap-md: $gap * 1.5;
$gap-lg: $gap * 2;
